*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation{
    height: 70px;
    background-color: #0084FD;
    display: flex;
    

}

.container-nav{
    width: 70%;
    border: 1px solid black;
    display: flex;
}

.colonne-quadrate{
    display: flex;
    height: 700px;
}

.container-quadrate{
    height: 600px;
    width: 800px;
    border: 1px solid black;
}

.strategic-planning{
    height: 700px;
    background-color: #9792E4;
}

.testimonials{
    height: 900px;
    background-color: white;

}

.column-testimonial{
    height: 25%;
    width: 75%;
    border: 1px solid black;
}