*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation{
    height: 70px;
    background-color: #0084FD;
    display: flex;
    justify-content: center;
    

}

.container-nav{
    width: 60%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.colonne-quadrate{
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
}

.container-quadrate{
    height: 600px;
    width: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.column-big{
    width: calc((100% / 3) *2);
    border: 1px solid black;
}

.column-small{
    height: 50%;
    width: calc(100% / 3);
    border:  1px solid black;
}

.strategic-planning{
    height: 700px;
    background-color: #9792E4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left-strategic{
    height: 650px;
    width: 350px;
    border: 1px solid black;

}

.right-appdev{
    height: 650px;
    width: 350px;
    border: 1px solid black;

}

.testimonials{
    height: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-testimonial{
    height: 25%;
    width: 60%;
    border: 1px solid black;
    background-color: #9792E4;
    border-radius: 2rem;
}

.benefits{
    height: 900px;
    background-color: #9792E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-benefits{
    width: 60%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.column-benefits{
    height: 50%;
    width: calc(100% / 3);
    border: 1px solid black;
}

.About{
    height: 800px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-left{
    height: 600px;
    width: 700px;
    border: 1px solid black;
}
.about-right{
    height: 600px;
    width: 300px;
    border: 1px solid black;
}

.get-started{
    height: 700px;
    background-color: #9792E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-started{
     height: 600px;
     width: 600px;
     border: 1px solid black;
}

.footer{
    height: 250px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;

}

.descricption{
    height: 220px;
    width: 450px;
    border: 1px solid black;
}

@media screen and (max-width: 480px){
    .navigation {
        height: 70px;
        width: 100%px;
        background-color: #0084FD;

    }

    .colonne-quadrate{
    display: flex;
    height: 1312px;
    justify-content: center;
    align-items: center;
    padding: 2rem;}

    .container-quadrate{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }

    .column-big{
        border: 1px solid black;
        height: 2000px;
        width: 100%;

    }

    .column-small{
        height: 100%;
        border: 1px solid black;
        width: 100%;
        margin-top: 1rem;
    }

    .strategic-planning{
        height: 1130px;
        background-color: #9792E4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .testimonials{
        height: 1501px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.column-testimonial{
    height: 100%;
    width: 60%;
    border: 1px solid black;
    background-color: #9792E4;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.benefits {
    height: 2100px;
    background-color: #9792E4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-benefits{
    width: 100%;
    height: 2000px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.column-benefits{
    height: 100%;
    border: 1px solid black;
    width: 70%;
}

.About {
    height: 900px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.about-left {
    height: 566px;
    width: 90%;
    border: 1px solid black;
}

.about-right {
    height: 266px;
    width: 300px;
    border: 1px solid black;
    margin-top: 1rem;
}
}

@media screen and (max-width: 768px){

    .strategic-planning {
        height: 1700px;
        background-color: #9792E4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .left-strategic {
        height: 1000px;
        width: 100%;
        border: 1px solid black;
    }

    .right-appdev {
        height: 1000px;
        width: 80%;
        border: 1px solid black;

    }

    .testimonials {
        height: 900px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


    