*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation{
    height: 70px;
    background-color: #0084FD;
    display: flex;

}

.container{
    width: 70%;
    border: 1px solid black;
    display: flex;
}